<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1064639365846-ng02fq1933hj2iotca5bd5pc995ki18c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064639365846-ng02fq1933hj2iotca5bd5pc995ki18c</string>
	<key>API_KEY</key>
	<string>AIzaSyAO42dk2TGx5gmS3Y-PVBvwNrE4ATLL5Bg</string>
	<key>GCM_SENDER_ID</key>
	<string>1064639365846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunnyleeyun.project12</string>
	<key>PROJECT_ID</key>
	<string>registerfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>registerfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064639365846:ios:f6515df814537166</string>
	<key>DATABASE_URL</key>
	<string>https://registerfinal.firebaseio.com</string>
</dict>
</plist>